header {
  height: 110px;
  background-color: salmon;
}

header nav {
  width: 960px;
}

header img {
  height: 100px;
  width: 300px;
  float: left;
  margin-left: 10px;
}

h1 {
  font-family: 'Patrick Hand', cursive;
  font-size: 40px;
  float: right;
  margin-right: 150px;
  margin-top: 60px;
}

body {
  background-color: #FFA07A;
}

main {
  margin: auto;
  width: 960px;
  padding-top: 40px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Patrick Hand', cursive;
}

#store-hours {
  float: left; 
  width: 280px;
  height: 400px;
  margin-right: 20px;
}

#hours-ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 18px;
}

#weekdays {
  padding-bottom: 75px;
}


#locations {
  float: left; 
  width: 280px;
  height: 400px;
  margin-right: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#locations-ul>li {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  font-size: 18px;
}


#merchandise{
  float: left; 
  width: 280px;
  height: 400px;
  overflow:scroll;
}

#about-us {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 40px;
}

p{
  width: 440px;
  height: 250px;
  overflow: scroll;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: left;
}

h3{
font-size: 40px;
font-family: 'Patrick Hand', cursive;
}

#family-pic {
  width: 440px;
  float: right;
}

footer {
  height: 110px;
  background-color: salmon;
}
